a{
	text-decoration:none
}
 body {
    background-color: white;
    font-family: 'Roboto', sans-serif;
    /*font-family: 'Open Sans', sans-serif;*/
 }

  input{
 	 padding: 8px 12px;
 	  font-size: 95%;
 	  border-radius:10px;
 	   outline-width: 0;
 }

 table{
 	 /*border-radius:10px;*/
 	 padding: 8px 12px;
 	  font-size: 120%;
 }
 table th:first-child{
  border-radius:10px 0 0 10px;
}
table th:last-child{
  border-radius:0 10px 10px 0;
}
table td:first-child{
 border-radius:10px 0 0 10px;
}
table td:last-child{
  border-radius:0 10px 10px 0;
}

  caption {
  	 text-align: left;
  	 color: white;
    background-color: #3F51B5;
     padding: 8px 12px;
 }
	.flat-table {
  display: block;
  /*font-family: sans-serif;*/
  /*-webkit-font-smoothing: antialiased;*/
  /*font-size: 115%;*/


  overflow: auto;
  width: auto;
}
/*tr{margin-top: 5px;}*/
  th {
    background-color:  #ffff00;
    color: white;
    /*color: black;*/
    font-weight: 500;
    /*font-weight: normal;*/
    /*padding: 20px 30px;*/
        padding: 8px 12px;
    text-align: center;
  }
  td {
    /*background-color: rgb(238, 238, 238);*/
    background-color:  ;
   font-weight: 400;
	   text-align: center;
    /*color: rgb(111, 111, 111);*/
    color: rgb(0, 0, 0);

    /*padding: 20px 30px;*/
     padding: 8px 12px;
  }

  /*.section-title{*/
  /*    border-radius:10px 10px 10px 10px; background:#FFC107 ; font-size:120%*/
  /*}*/
